  .board {
		width:560px;
		height:554px;
    border: 5px solid black;
    margin-top: 32px;
	}
	.world {
	
		text-align: center;
		margin-top: 8%;
		margin-left: 9%;
		margin-right: 9%;
		height: 458px;
		width: 458px;
	}
		.row {
		display: block;
		width: 55px;
		height: 55px;
		float: left;
		border: 1px solid black;
		}

	body {
	background-position: center; /* Center the image */
  	background-repeat: no-repeat;
  	background-size: cover;

	}

	.mountain-world {
		background-color: tan;
	}
	.ice-world {
		background-color: lightblue;
	}
	
	.forest-world {
		background-color: green;
	}

	.swamp-world {
		background-color: brown;
	}
	.city-world {
		background-color: grey;
	}
	.island-world {
		background-color: blue;
	}
	.desert-world {
		background-color: yellow;
	}
	.savanna-world {
		background-color: orange;
	}
	.jungle-world {
		background-color: #2D9637;
	}

	.up {
		position: absolute; 
		top:-50; 
		left:45%;
	}
	.up-right {
	
		position: absolute; 
		top:-25; 
		right:-25;
	}
	.right {
		
		position: absolute; 
		top:50%; 
		right:-50;
	
	}
	.down-right {
		position: absolute; 
		bottom: -25; 
		right: -25;
		
	}
	.down {
		position: absolute; 
		bottom:-50; 
		left:45%;
	}
	.down-left {
		position: absolute; 
		bottom:-25; 
		left:-25;
	}
	.left {

		position: absolute; 
		top:50%; 
		left:-50;
	}
	.up-left {
		position: absolute; 
		top: -25; 
		left:-25;
	}


	
	.contain-row2 {
		width: 100%;
		clear: both;
	}
	.contain-row3 {
		width: 100%;
		clear: both;
	}
	.contain-row4 {
		width: 100%;
		clear: both;
	}
	.contain-row5 {
		width: 100%;
		clear: both;
	}
	.contain-row6 {
		width: 100%;
		clear: both;
	}
	.contain-row7 {
		width: 100%;
		clear: both;
	}
	.contain-row8 {
		width: 100%;
		clear: both;
	}
   
